name: Android CI

on:
  push:
    paths:
      - '.github/workflows/android-ci.yml'
      - 'app/**'
      - 'gradle/**'
      - 'build.gradle.kts'
      - 'build.gradle'
      - 'gradle.properties'
      - 'settings.gradle'
      - 'settings.gradle.kts'
      - 'gradlew'
      - 'gradlew.bat'
      - 'public-stable-ids.txt'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/android-ci.yml'
      - 'app/**'
      - 'gradle/**'
      - 'build.gradle.kts'
      - 'build.gradle'
      - 'gradle.properties'
      - 'settings.gradle'
      - 'settings.gradle.kts'
      - 'gradlew'
      - 'gradlew.bat'
      - 'public-stable-ids.txt'
  workflow_dispatch:

jobs:
  build:
    name: Build Signed Release APK
    runs-on: ubuntu-latest
    env:
      GRADLE_USER_HOME: ${{ github.workspace }}/.gradle-user-home
    outputs:
      short_sha: ${{ steps.set_sha.outputs.short_sha }}
    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Gradle files
        uses: actions/cache@v4
        with:
          path: |
            ${{ env.GRADLE_USER_HOME }}/caches
            ${{ env.GRADLE_USER_HOME }}/wrapper
          key: gradle-v3-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/settings.gradle*') }}-${{ github.run_id }}
          restore-keys: |
            gradle-v3-${{ runner.os }}-

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build Release APK
        env:
          GRADLE_OPTS: "-Xmx4g -XX:MaxMetaspaceSize=1g -Dfile.encoding=UTF-8"
          JAVA_TOOL_OPTIONS: "-Xmx4g -XX:MaxMetaspaceSize=1g"
        run: ./gradlew --no-daemon --stacktrace --build-cache -Pandroid.useAndroidX=true assembleRelease

      - name: Set short SHA
        id: set_sha
        run: echo "short_sha=${GITHUB_SHA::7}" >> "$GITHUB_OUTPUT"

      - name: Rename APK with commit hash
        run: |
          mv app/build/outputs/apk/release/app-release.apk app/build/outputs/apk/release/app-release-${{ steps.set_sha.outputs.short_sha }}.apk
      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: apk-release-${{ steps.set_sha.outputs.short_sha }}
          path: app/build/outputs/apk/release/app-release-${{ steps.set_sha.outputs.short_sha }}.apk